[submodule "pack/andrestone/start/vim-fugitive"]
	path = pack/andrestone/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/andrestone/start/vim-airline"]
	path = pack/andrestone/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/andrestone/start/dracula"]
	path = pack/andrestone/start/dracula
	url = https://github.com/dracula/vim.git
[submodule "pack/andrestone/start/nerdtree"]
	path = pack/andrestone/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/andrestone/start/vim-jsx-pretty"]
	path = pack/andrestone/start/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty.git
[submodule "pack/andrestone/start/async.vim"]
	path = pack/andrestone/start/async.vim
	url = https://github.com/prabirshrestha/async.vim.git
[submodule "pack/andrestone/start/vim-lsp"]
	path = pack/andrestone/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
[submodule "pack/andrestone/start/asyncomplete.vim"]
	path = pack/andrestone/start/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim.git
[submodule "pack/andrestone/start/asyncomplete-lsp.vim"]
	path = pack/andrestone/start/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim.git
[submodule "pack/andrestone/start/vim-lsp-javascript"]
	path = pack/andrestone/start/vim-lsp-javascript
	url = https://github.com/ryanolsonx/vim-lsp-javascript
