[submodule "pack/andrestone/start/vim-fugitive"]
	path = pack/andrestone/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/andrestone/start/vim-airline"]
	path = pack/andrestone/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/andrestone/start/nerdtree"]
	path = pack/andrestone/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/andrestone/start/vim-lsp"]
	path = pack/andrestone/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule "pack/andrestone/start/async.vim"]
	path = pack/andrestone/start/async.vim
	url = https://github.com/prabirshrestha/async.vim
[submodule "pack/andrestone/start/asyncomplete.vim"]
	path = pack/andrestone/start/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule "pack/andrestone/start/asyncomplete-lsp.vim"]
	path = pack/andrestone/start/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim
[submodule "pack/andrestone/start/vim-lsp-settings"]
	path = pack/andrestone/start/vim-lsp-settings
	url = https://github.com/mattn/vim-lsp-settings
[submodule "pack/andrestone/start/vim-graphql"]
	path = pack/andrestone/start/vim-graphql
	url = https://github.com/jparise/vim-graphql
[submodule "pack/andrestone/start/fzf.vim"]
	path = pack/andrestone/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "pack/andrestone/start/fzf"]
	path = pack/andrestone/start/fzf
	url = https://github.com/junegunn/fzf
[submodule "pack/andrestone/start/auto-pairs"]
	path = pack/andrestone/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "pack/andrestone/start/vim-css-color"]
	path = pack/andrestone/start/vim-css-color
	url = https://github.com/ap/vim-css-color
[submodule "pack/andrestone/start/darcula"]
	path = pack/andrestone/start/darcula
	url = https://github.com/blueshirts/darcula
[submodule "pack/andrestone/start/gruvbox"]
	path = pack/andrestone/start/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "pack/andrestone/start/cheat.sh-vim"]
	path = pack/andrestone/start/cheat.sh-vim
	url = https://github.com/dbeniamine/cheat.sh-vim
