[submodule "pack/andrestone/start/vim-fugitive"]
	path = pack/andrestone/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/andrestone/start/vim-airline"]
	path = pack/andrestone/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/andrestone/start/nerdtree"]
	path = pack/andrestone/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/andrestone/start/fzf.vim"]
	path = pack/andrestone/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "pack/andrestone/start/fzf"]
	path = pack/andrestone/start/fzf
	url = https://github.com/junegunn/fzf
[submodule "pack/andrestone/start/vim-css-color"]
	path = pack/andrestone/start/vim-css-color
	url = https://github.com/ap/vim-css-color
[submodule "pack/andrestone/start/vim-gitgutter"]
	path = pack/andrestone/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "pack/andrestone/start/blamer.nvim"]
	path = pack/andrestone/start/blamer.nvim
	url = https://github.com/APZelos/blamer.nvim
[submodule "pack/andrestone/start/vim-commentary"]
	path = pack/andrestone/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/andrestone/start/vim-jsx-pretty"]
	path = pack/andrestone/start/vim-jsx-pretty
	url = https://github.com/maxmellon/vim-jsx-pretty
[submodule "pack/andrestone/start/undotree"]
	path = pack/andrestone/start/undotree
	url = https://github.com/mbbill/undotree
[submodule "pack/andrestone/start/vim-indent-guides"]
	path = pack/andrestone/start/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule "pack/andrestone/start/vim-graphql"]
	path = pack/andrestone/start/vim-graphql
	url = https://github.com/jparise/vim-graphql
[submodule "pack/andrestone/start/vim-snippets"]
	path = pack/andrestone/start/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "pack/andrestone/start/auto-pairs"]
	path = pack/andrestone/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "pack/andrestone/start/vim-markdown"]
	path = pack/andrestone/start/vim-markdown
	url = https://github.com/tpope/vim-markdown
[submodule "pack/andrestone/start/vim-SyntaxRange"]
	path = pack/andrestone/start/vim-SyntaxRange
	url = https://github.com/inkarkat/vim-SyntaxRange
[submodule "pack/andrestone/start/vim-velocity"]
	path = pack/andrestone/start/vim-velocity
	url = https://github.com/lepture/vim-velocity
[submodule "pack/andrestone/start/vim-obsession"]
	path = pack/andrestone/start/vim-obsession
	url = https://github.com/tpope/vim-obsession
[submodule "pack/andrestone/start/iceberg.vim"]
	path = pack/andrestone/start/iceberg.vim
	url = https://github.com/cocopon/iceberg.vim
[submodule "pack/andrestone/start/vim-colorschemes"]
	path = pack/andrestone/start/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes
[submodule "pack/andrestone/start/gruvbox"]
	path = pack/andrestone/start/gruvbox
	url = https://github.com/gruvbox-community/gruvbox
[submodule "pack/andrestone/start/coc.nvim"]
	path = pack/andrestone/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule "pack/andrestone/start/vimspector"]
	path = pack/andrestone/start/vimspector
	url = https://github.com/puremourning/vimspector
[submodule "pack/andrestone/start/nvim-lspconfig"]
	path = pack/andrestone/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
